<!DOCTYPE html>
<#include "/ftl/header.ftl">
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<script type="text/javascript">

    $(document).ready(function () {
        $("#btnsub").on("click", function () {
            $("#formData").submit();
        });
    });
</script>
<#include "/ftl/menu.ftl">
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">产品</a></li>
                <li><a href="#">产品价格</a></li>
                <li><a href="#">修改页面</a></li>
                <li class="active"> ${productPrice.product.name}</li>

            </ol>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data" id="formData">
        <div class="content controls npt col-sm-offset-2 text-center">

            <div class="col-md-9">

                <div class="block">

                    <div class="content controls">

                        <input type="hidden" class="form-control" id="productPriceId" name="productPriceId"
                               value="${productPrice.productPriceId}"></input>
                        <input type="hidden" class="form-control" id="productId" name="productId"
                               value="${productPrice.product.productId}"></input>


                        <div class="form-row">
                            <div class="col-md-3">价格数目</div>
                            <div class="col-md-9"><input type="text" class="form-control" id="priceNum" name="priceNum"
                                                         value="${productPrice.priceNum}"></input></div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">产品级别</div>
                            <div class="col-md-9"><input type="text" class="form-control" id="source" name="source"
                                                         value="${productPrice.source}"></input></div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-12">
                                <button class="btn btn-default btn-clean" id="btnsub" type="button">提交</button>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>