<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.user.dao.UserDAO" >

    <resultMap id="findUserResultMap" type="com.springboot.common.entity.user.UserEntity">
        <result property="userid" column="userid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>



    <select id="findUserInfoByUsername" resultMap="findUserResultMap">
      SELECT
         tb_user.userid as userid,
         tb_user.username as username,
         tb_user.password as password
      FROM
        db_springboot.tb_user as tb_user
      <where>
          <if test="username != null and username != ''">
              AND tb_user.username = #{username}
          </if>
      </where>
    </select>
    
    <select id="findUser" resultMap="findUserResultMap">
      SELECT
         tb_user.userid as userid,
         tb_user.username as username,
         tb_user.password as password
      FROM
        db_springboot.tb_user as tb_user
      <where>
          <if test="userEntity.username != null and userEntity.username != ''">
              AND tb_user.username like CONCAT(#{userEntity.username},'%') 
          </if>
      </where>
    </select>
    
    <select id="findUserInfoLikeUsername" resultMap="findUserResultMap">
      SELECT
         tb_user.userid as userid,
         tb_user.username as username,
         tb_user.password as password

      FROM
        db_springboot.tb_user as tb_user
      <where>
          <if test="username != null and username != ''">
              AND tb_user.username like CONCAT(#{username},'%')
          </if>
          <if test="username == null or username == ''">
              AND tb_user.username like '%'
          </if>
      </where>
    </select>

    <insert id="addUser">
        INSERT INTO db_springboot.tb_user
        (userid, username,password)
        VALUES
        (#{userEntitypp.userid},#{userEntitypp.username},#{userEntitypp.password})
    </insert>
    
    <delete id="deleteUserByUsername">
    delete from db_springboot.tb_user
    WHERE username = #{username}
    </delete>
    
    <update id="updateByPrimaryKeySelective" parameterType="com.springboot.common.entity.user.UserEntity">
    update db_springboot.tb_user
    <set>
      <if test="userEntity.username != null">
        username = #{userEntity.username},
      </if>
      <if test="userEntity.password != null">
        password = #{userEntity.password},
      </if>
    </set>
    where username = #{userEntity.username}
    </update>

</mapper>