<!DOCTYPE html>
<#include "/ftl/header.ftl">
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<script type="text/javascript">

    $(document).ready(function(){
        $("#btnsub").on("click",function(){
            $("#formData").submit();
        });
    });
</script>
<#include "/ftl/menu.ftl">
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">产品</a></li>
                <li><a href="#">产品分类</a></li>
                <li class="active">修改页面</li>
            </ol>
        </div>
    </div>
    <form  method="post"  enctype="multipart/form-data" id="formData">

        <div class="content controls npt col-sm-offset-2 text-center">

            <div class="col-md-9">

                <div class="block">

                    <div class="content controls">

                        <input type="hidden" class="form-control"  name="attributeClassId" value="${attributeClass.attributeClassId}" />

                        <div class="form-row">
                        <div class="col-md-3">产品类型</div>
                        <div class="col-md-9">
                            <input type="text" disabled="disabled" class="form-control" id="name" name="name"value="${attributeClass.category.cname}"></input>
                            <input type="hidden" class="form-control" id="id" name="categoryId"value="${attributeClass.category.categoryId}"></input>

                        </div>
                    </div>

                        <div class="form-row">
                            <div class="col-md-3">属性分类名称</div>
                            <div class="col-md-9"><input type="text" class="form-control" id="acName" name="acName" value="${attributeClass.acName!}" ></input></div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-3">排序</div>
                            <div class="col-md-9"><input type="text" class="form-control" id="sort" name="sort" value="${attributeClass.sort!}" ></input></div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-12">
                                <button class="btn btn-default btn-clean"  id="btnsub" type="button">提交</button>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>